# ===============================
# Dependencies
# ===============================
node_modules/
frontend/node_modules/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Logs (your src/logs folder)
# ===============================
# logs/
# *.log

# ===============================
# Runtime / build artifacts
# ===============================
dist/
build/
coverage/
frontend/.next/
frontend/out/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db


# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
